{% extends 'layouts/form_response.html' %}

{% set message = "Account Removed!" %}

{% block title %}{{ message }}{% endblock %}
{% block response %}{{ message }}{% endblock %}

{% block content %}
<p>Your {{ config.PROJECT_NAME }} account has been removed.</p>
<p>Close this page.<br>- or -<br>Register to make a new account.</p>
<div class="border-top mt-3 pt-3">
    <div class="text-end" style="font-size: smaller; color: #428bca;">
    {% if not config.DISABLE_SELF_REGISTRATION %}
      <a href="{{ url_for('auth.register') }}">Register</a>
    {% endif %}    </div>
  </div>
{% endblock %}
