{% extends 'layouts/form_response.html' %}

{% set message = "Registration Failed!" %}

{% block title %}{{ message }}{% endblock %}
{% block response %}{{ message }}{% endblock %}

{% block content %}
<p>Email address already registered.<br>Please login or reset your password.</p>
<div class="border-top mt-3 pt-3">
    <div class="d-flex justify-content-between align-items-center" style="font-size: smaller; color: #428bca;">
      <a href="{{ url_for('auth.forgot') }}">Forgot Password?</a>
      <a href="{{ url_for('auth.login') }}">Login</a>
    </div>
  </div>
{% endblock %}
