[
    {
        "name": "Power User",
        "description": "This user may access any module",
        "modules": [
            "app.modules.module_1.pie_module",
            "app.modules.module_2.csv_module",
            "app.modules.module_3.games_module"
        ]
    }
]