{% extends 'layouts/main.html' %}
{% block title %}Log Viewer {{ config.PROJECT_NAME }}{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
<style>
    #log-files-list {
        height: calc(100vh - 200px);
        overflow-y: auto;
    }
    #log-content {
        height: calc(100vh - 150px);
        overflow-y: auto;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2>Log Viewer</h2>
    <div class="row">
        <div class="col-md-2 mt-2">
            <h5>Available Logs</h5>
            <div id="log-files-list" class="list-group">
                {% for file in log_files %}
                <a href="#" class="list-group-item list-group-item-action log-file" data-file="{{ file }}">{{ file }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <div id="log-content">
                <table id="log-table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Level</th>
                            <th>Module</th>
                            <th>Message</th>
                            <th>User ID</th>
                            <th>User Email</th>
                            <th>Remote Addr</th>
                            <th>URL</th>
                            <th>Function</th>
                            <th>Line</th>
                            <th>Filename</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<script>
$(document).ready(function() {
    var table = $('#log-table').DataTable({
        columns: [
            { data: 'timestamp' },
            { data: 'level' },
            { data: 'module' },
            { data: 'message' },
            { data: 'user_id' },
            { data: 'user_email' },
            { data: 'remote_addr' },
            { data: 'url' },
            { data: 'function' },
            { data: 'line' },
            { data: 'filename' }
        ],
        order: [[0, 'desc']],
        pageLength: 25,
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]]
    });

    $('.log-file').on('click', function(e) {
        e.preventDefault();
        var file = $(this).data('file');
        $('.log-file').removeClass('active');
        $(this).addClass('active');
        
        $.getJSON('/log_content', { file: file }, function(data) {
            table.clear().rows.add(data).draw();
        });
    });
});
</script>
{% endblock %}