{% extends 'layouts/main.html' %}
{% block title %}{{ config.PROJECT_NAME }}{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Home Page</h1>
</div>
<p class="lead">Place holder for the entry point home page of the application</p>

{% endblock %}
