[
    {
        "name": "Power User",
        "description": "Access any module in the application.",
        "modules": [
            "app.modules.module_1.pie_module",
            "app.modules.module_2.csv_module"
        ]
    }
]