[
    {
        "name": "Power User",
        "description": "Access granted to all modules.",
        "modules": [
            "module_1",
            "module_2",
            "module_3"
        ]
    },
    {
        "name": "Gamer",
        "description": "Game Module - ONLY",
        "modules": [
            "module_3"
        ]
    }
]