[
    {
        "name": "Power User",
        "description": "Access granted to all modules.",
        "modules": [
            "app.modules.module_1.pie_module",
            "app.modules.module_2.csv_module",
            "app.modules.module_3.games_module"
        ]
    },
    {
        "name": "Gamer",
        "description": "Game Module - ONLY",
        "modules": [
            "app.modules.module_3.games_module"
        ]
    }
]