{% extends 'forms/form_base.html' %}

{% set purpose = "Create Password" %}

{% block form_content %}
  {% if is_admin_setup %}
    <div class="alert alert-info">
      Welcome, admin! Please create your password to complete your account setup.
    </div>
  {% endif %}
  <input type="hidden" name="token" value="{{ token }}">
  <div class="mb-3">
    {{ form.password(class_='form-control', placeholder=form.password.label.text, required=true, autofocus=true) }}
  </div>
  <div class="mb-3">
    {{ form.confirm(class_='form-control', placeholder=form.confirm.label.text, required=true) }}
  </div>

  {% if not eula_acknowledged %}
    {% include 'components/eula_checkbox.html' %}
  {% else %}
    <input type="hidden" name="eula_acknowledged" value="on">
  {% endif %}
{% endblock %}