{% extends 'forms/form_base.html' %}

{% set purpose = "Remove Account" %}

{% block form_content %}
  <div class="mb-3">
    {{ form.email(class_='form-control', placeholder=form.email.label.text, required=true, autofocus=true) }}
  </div>
  <div class="mb-3">
    {{ form.password(class_='form-control', placeholder=form.password.label.text, required=true) }}
  </div>
  <div class="d-flex justify-content-between mb-3">
    <a href="{{ url_for('auth.forgot') }}">Forgot Password?</a>
    {% if not config.DISABLE_SELF_REGISTRATION %}
      <a href="{{ url_for('auth.register') }}">Register</a>
    {% endif %}  </div>
{% endblock %}