{% extends 'forms/form_base.html' %}

{% set purpose = "New Password" %}

{% block form_content %}
  <div class="mb-3">
    {{ form.password(class_='form-control', placeholder=form.password.label.text, required=true, autofocus=true) }}
  </div>
  <div class="d-flex justify-content-between mb-3">
    <a href="{{ url_for('auth.forgot') }}">Forgot Password?</a>
    <a href="{{ url_for('auth.login') }}">Login</a>
  </div>

  {% if not user.eula_acknowledged %}
    {% include 'components/eula_checkbox.html' %}
  {% endif %}
{% endblock %}