/* Sticky footer CSS
-------------------------------------------------- */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#wrap {
  flex: 1;
}
#footer {
  height: 35px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#header > .container{
  width: 100%;
}

#footer > .container {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-size: 80%;
}

/* Navbar header CSS
-------------------------------------------------- */
.navbar-brand img {
  height: 1.5em; /* Match the text height */
  vertical-align: middle;
  margin-right: 4px; /* Space between image and text */
  margin-top: -3px;
}

/* Adjust the project name display */
.brand-project-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}

/* Navbar styling */
#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    z-index: 1030; /* Ensure it stays on top */
}

/* Navbar header link CSS
-------------------------------------------------- */
.navbar-nav .nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--project-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-nav .nav-link.active {
  color: var(--project-color);
}

/* Flask "flash" alert message display CSS
-------------------------------------------------- */
 .custom-alert {
  border-width: 2px;
  border-style: solid;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-alert-danger {
  background-color: #FFEBEE;
  border-color: #D32F2F;
  color: #D32F2F;
}

.custom-alert-success {
  background-color: #E8F5E9;
  border-color: #2E7D32;
  color: #2E7D32;
}

.custom-alert-warning {
  background-color: #FFF9C4;
  border-color: #F57C00;
  color: #F57C00;
}

.custom-alert-info {
  background-color: #E3F2FD;
  border-color: #0D47A1;
  color: #0D47A1;
}

.custom-alert-primary {
  background-color: #E3F2FD;
  border-color: #1976D2;
  color: #1976D2;
}

.custom-alert-secondary {
  background-color: #ECEFF1;
  border-color: #607D8B;
  color: #607D8B;
}

.custom-alert-light {
  background-color: #FAFAFA;
  border-color: #BDBDBD;
  color: #757575;
}

.custom-alert-dark {
  background-color: #EEEEEE;
  border-color: #212121;
  color: #212121;
}

.custom-alert .btn-close {
  color: inherit;
  opacity: 0.8;
}

.custom-alert .btn-close:hover {
  opacity: 1;
}